data/
models/
src/__pycache__
notebooks/.ipynb_checkpoints/
src/.idea/
src/.idea/misc.xml
src/.idea/src.iml
src/experiment_designer.py
src/.p
selected_models_for_production/
*.pyc
output/
presentations/*.png
src/*.log
src/.xdebug*
report_data
presentations/*.zip
presentations/*.rar

